* {
  transition: all 0.2s;
}

.nav {
  &-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 65px;
  }

  &-logo,
  &-pages {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-pages {
    ul {
      display: inline-flex;
      list-style: none;
      width: 270px;

      li {
        width: 30%;
      }
    }
  }
}
